# Handle meta-rendering with correct appname, set in one place
# Configure rest of settings for each OS/architecture type supported
# Variable data used across sls files, so I have a single point of call

{% set app = {
    "name": "",

    "prerequisite_packages": [],
    "packages": [],

    "install_filename" : {
        "x86_64" : "",
        "armv7l" : "",
        },


    "install_dir" : "",
    "bin_name" : {
        "x86_64" : "",
        "armv7l" : "",
        },
    "config_name" : "",


    "service_name" : "",
    "service_args": "",

    "firewall_tcp": [],
    "firewall_udp": [],

    }
%}


{% set backup = {
    "location" : "/data/backups",
    "sql_databases": [],
    "target_paths" : [],
    }
%}
